/*Definições para venda*/

table, th, td{

	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 3px
}

thead tr:hover{
	font-size: 60px;
	color: white;
	background-color: black;
}

tr:hover{
	font-size: 40px;
	background-color: blue;
}
tr:active{
	color: red;
}

table{
	width: 100%;
	border-radius: 5px;
}

caption{
	color: blue;
	font-size: 20px;
}

input{
	border-radius: 5px;
}

input.quant{
	width: 100%;
	margin: 0px;
	border-radius: 5px;
}

label.pesq{
	font-size: : 15px;

}

th{
	font-size: 20px;
}


h1{
	padding: 10px;
	color: blue;
	background-color: black;
	border: 10px inset blue;
	border-radius: 35px;
}