/* 	DEFINIÇÕES DE CADASTRO */

* {
	margin: 0;
	padding: 0;
}

h2{
	text-align: center;
	font-size: 40px;
	font-family: Arial;
	margin-bottom: 15px;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3; 
}

#nave {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
}

#area {
	width: 75%;
	margin: 0 auto;
}

#logo{
	float: left;
}

#menu{
	float: right;
	padding: 10px 0;
}

#areaprincipal{
	width: 75%;
	margin: 10px auto 10px auto;

}

#corpo{
	background: #fff;
	padding: 10px;
}

#button{
	margin-top: 5px;
  	color: #fff;
  	background-color: #007bff;
  	border-color: #007bff;
  	display: inline-block;
  	font-weight: 400;
  	text-align: center;
  	vertical-align: middle;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	border: 1px solid transparent;
  	padding: 0.375rem 0.75rem;
  	font-size: 1rem;
  	line-height: 1.5;
  	border-radius: 0.25rem;
  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.button:hover {
  	color: #fff;
  	background-color: #0069d9;
  	border-color: #0062cc;
}

.button:focus {
  	outline: 0;
  	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#input{
	border: 1px solid #87CEFA;
	width: 99%;
	border-radius: 5px;
	margin-right: 10px auto;
	padding: 5px;
}


/*Formatação do menu*/
a{
	text-decoration: nome;
	padding: 5px;
}
/*Links não visitados*/
a:link{
	color #838383;
}
/*Links visitados*/
a:visited{
	color: #838383;
}
/*Links hover*/
a:hover {
	color: #fff;
	background: #87CEFA;
}
/*Links active*/


/*Classes*/
.azul{
	color: #87CEFA;

}